.nav-pills .nav-link:not(.active):hover {
    color:rgb(191,203,217);
    background-color: #263751;
}
.nav-pills .nav-link.active {
    background-color: transparent;
}
.nav.nav-pills .nav-item .nav-link.active {
    color: rgb(64, 158, 255);
}

.my-container-top {
    overflow: hidden;
    /* background-color: #f2f2f2; */
    padding: 10px;
    padding-bottom: 20px;
}

.my-title {
    margin: 10px 0 20px;
}
.my-title:before {
    content: "";
    border-left: 5px solid #03a7f0;
    margin-right: 10px;
}
.my-container-top .myrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
}
.my-container-top .myrow .mycol {
    min-width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.nowrap{
    white-space: nowrap;
}